<h2>Visit us</h2>
<form action="/visit" method="POST">
  <div class="form-group">
    <label>Your name</label>
    <input name="username" type="text" class="form-control ccc" placeholder="Your name">
  </div>
  <div class="form-group">
    <label>Your phone</label>
    <input name="phone" type="text" class="form-control ccc" placeholder="Your phone">
  </div>
  <div class="form-group">
    <label>Date and time</label>
    <input id="aaa" name="date_time" type="text" class="form-control" placeholder="Date time">
  </div>
  <div class="form-group">
    <label>Your master</label>
    <select name="master" class="form-control">
      <option>Jessie</option>
      <option>Walter</option>
      <option>Gus</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Press me</button>
</form>

<script type="text/javascript">
  $('#aaa').css('background-color','yellow'); 
  $('.ccc').css('background-color','green');
</script>