<h2>Visit us</h2>
<form action="/visit" method="POST">
  <div class="form-group">
    <label>Your name</label>
    <input name="username" type="text" class="form-control" placeholder="Your name">
  </div>
  <div class="form-group">
    <label>Your phone</label>
    <input name="phone" type="text" class="form-control" placeholder="Your phone">
  </div>
  <div class="form-group">
    <label>Email address</label>
    <input name="email" type="text" class="form-control" placeholder="Enter your email">
  </div>
  <div class="form-group">
    <label>Your master</label>
    <select name="master" class="form-control">
      <option>Jessie</option>
      <option>Walter</option>
      <option>Gus</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Press me</button>
</form>